<div>
  <div class="modal-table">
  </div>

  <div class="row">
    <div class="col-md-6" style="margin-top: 20px;">
      <input type="file"/>
    </div>
    <div class="col-md-6" style="margin-top: 20px">
      <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#myModal">
        Deselect
      </button>
    </div>
  </div>

  <div class="row" style="margin: 5px;">
    <div class="col-md-6 pull-left" style=" background-color: lightgrey;height: 200px;">
    </div>

    <div class="col-md-6 pull-right" style="background-color: lightgrey;height: 200px;">
    </div>
  </div>
</div>
